<div class="input-group search-group">
  <input type="search" autocomplete="off" class="form-control" id="search" placeholder="<%= placeholder %>" data-type="<%= type %>" />
  <div class="input-group-append">
    <select class="custom-select" id="searchDB" style="display:">
      <option value="" disabled selected hidden>Select a Database</option>
      <% App.order(id: :desc).where(user_id: current_user).each do |app| %>
        <option value="<%= app.slug %>"><%= app.name %></option>
      <% end %>
    </select>
  </div>
</div>
