<h2 class="headline-title float-left">Edit App</h2>
<div class="webhook-options delete-option clearfix">
  <%= link_to 'Delete w/ all Requests', @app, method: :delete, data: { confirm: 'Are you sure this will also delete all associated requests records?' }, class: 'btn btn-outline-secondary float-right' %>
</div>
<hr>

<div class="card-block has-footer">
  <%= render 'form', app: @app %>
</div>
