Statistic {
  display: block;
  background: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 25px;
  position: relative;
}

Statistic h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.9em
}

Statistic span {
  color: var(--muted);
  display: block;
  font-weight: 400;
}

Statistic .dropdown {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
}

Statistic .dropdown .dropdown-item:hover {
  background: none;
}

Statistic:hover .dropdown {
  display: block
}