/*
 *= require bootstrap.4.3.1
 *= require_tree .
 *= require_self
*/
:root {
  --white: #fff;
  --border-color: #d2d6dc;
  --border-radius: 4px;
  --muted: #607aa0;
  --bg-color: #f2f3f8;
}

@import "tailwindcss/base";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  background: var(--bg-color);
  color: #12263f;
  /* padding-left: 220px; */
}

hr {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid #fff;
  clear: both;
}

a {
  color: #0574d8;
  font-weight: 500;
}

.container {
  max-width: 1280px;
  padding: 15px 30px;
}

.form-control-sm {
  font-size: .895rem;
}

.tagify__dropdown {
  z-index: 99999
}

.hide, .dt-buttons {
  display: none
}

.input-group select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.column-grip {
  cursor: move;
  float: left;
  padding: 7px 5px;
  margin-right: 10px;
  font-size: 1.1em;
  opacity: 0.7
}

.headline-title {
  font-weight: 700;
  margin: 0;
}

.dotted-menu {
  font-size: 1.3em;
  opacity: 0.6;
  padding: 5px;
  padding-top: 10px;
  padding-right: 12px;
  display: block;
  float: right;
  color: #718096;
}

.dotted-menu:hover {
  color: #718096
}

.dropdown-menu {
  padding: 0;
  overflow: hidden
}

.dropdown-item {
  padding: .5em 1em;
}

.dropdown-item:active,
.dropdown-item:focus {
  background: #fff;
}

.form-control:focus, .custom-select:focus {
  border-color: rgba(210, 214, 221, 1.000);
  box-shadow: none;
}

.text-muted {
  color: var(--muted) !important;
}

.text-small {
  font-size: 0.9em !important;
}

.text-large {
  font-size: 1.1em !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.add-column-wrapper {
  width: 100%;
}

.hr-dashboard {
  margin-top: 15px;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 4px;
  font-weight: 500;
  width: 500px;
  padding: 15px;
}

.breadcrumb {
  background: none;
  padding: 0;
  font-size: 0.9em;
  font-weight: 500;
}

.login {
  padding-top: 250px;
}

.login-logo {
  width: 275px;
  display: block;
  margin: 20px auto;
}

.login-box {
  width: 400px;
  padding: 30px;
  margin: 0 auto;
}

form label {
  font-weight: 500;
  color: #607aa0;
  width: 100%;
  display: block
}

.input-group-text {
  background: var(--bg-color);
  color: #607aa0;
}

.app-image-headline {
  border-radius: 6px;
  box-shadow: 0 0 3px var(--border-color);
  background: #fff;
  border: 3px solid #fff;
  width: 38px;
  margin-top: -5px;
  margin-right: 5px
}

.click-to-copy {
  /* width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  background: none;
  font-weight: 400;
  color: #607aa0 */
}

#notice.notification {
  background: #0275d8;
  color: #fff;
}

#alert.notification {
  background: rgba(226, 95, 105, 1.000);
  color: #fff;
}

.card-block {
  background: #fff;
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 4px;
  position: relative;
}

.card-block.chartjs {
  padding: 30px;
}

.card-block.has-footer {
  padding-bottom: 65px;
}

.card-block-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #fafbfd;
  border-top: 1px solid var(--border-color);
}

.card-select-app {
  margin-bottom: 15px;
  cursor: pointer;
}

.card-select-app * {
  cursor: pointer;
}

.card-block.card-select-app {
  border-radius: 8px;
}

.card-app-selected {
  box-shadow: 0 0 0 2px #0574d8
}

.card-select-app img {
  border-radius: 4px;
}

.card-select-app p {
  font-weight: bold;
  font-size: 1em;
  padding-top: 5px
}

.card-campaign-item span {
  font-size: 0.8em;
  display: block;
  opacity: 0.7
}

.card-campaign-item p {
  margin: 0;
  font-size: 1.1em;
}

.badge-light {
  background: var(--bg-color);
  color: #607aa0
}

.webhook-options select {
  width: 200px;
}
