#header {
  background: #fff;
  border-bottom: 1px solid var(--border-color)
}

#header .navbar {
  padding: 20px 30px
}

#header a {
  padding: 5px 10px;
  color: #1c4270;
  margin-left: 5px;
}

#header .navbar-nav li:last-child a {
  padding-right: 0;
}

#header a.active {
  background: #f2f3f8;
  color: #1c4270;
  border-radius: 4px;
}

#header .container {
  padding: 0;
}

#header .navbar-brand {
  padding: 0;
  margin: 0;
}

#header .navbar-brand img {
  max-height: 45px;
  max-width: 250px;
  display: block;
}