#popup-wrapper {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
}

#popup {
  transition: all 0.4s;
  width: 500px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 999999;
  background: #fff;
  box-shadow: 0 10px 7px 0 #4f617bc7;
}

#popup-headline {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  background: #12263f;
}

#popup-content {
  position: relative;
}

#popup-nav {
  border-bottom: 1px solid var(--border-color);
}

#popup-nav a {
  width: 50%;
  float: left;
  padding: 15px;
  color: #607aa0;
  background: #f2f3f8;
  text-align: center;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid #fafafa;
  text-transform: uppercase;
  font-weight: bold;
}

#popup-nav a:first-child {
  border-left: none;
}

#popup-nav a:last-child {
  border-right: none;
}

#popup-nav a:hover {
  text-decoration: none;
}

#popup-nav a.active {
  background: #fff;
}

#row-data-popup {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  padding: 15px;
}

#popup-manage-table {
  height: calc(100vh - 55px);
  overflow-y: scroll;
  padding: 15px;
  padding-top: 15px;
}

.row-data-popup-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 0.8em;
  color: #607aa0;
  text-transform: uppercase;
}

.table-row-info {
  border: 1px solid #fff;
  padding: 15px;
  font-size: 0.9em;
  cursor: pointer
}

.table-row-info:hover {
  background: #fafafa;
  border: 1px solid #d2d6dd;
  border-radius: 4px;
}

.table-row-info strong {
  font-weight: 500;
  display: block;
  color: #607aa0;
  font-size: 0.9em;
}

#popup-manage-table label {
  font-weight: 500;
  display: block;
  color: #607aa0;
  font-size: 0.9em
}

.table-row-info span {
  display: block;
  width: 100%
}